---
import Icons from '../components/icons.astro';
import BioArticle from '../components/simple-txt-box.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
    <section class="main-aboutMe">
        <BioArticle
            title="Biografía"
            parrafo="Diego Alfonso Chicoma Ibañez, es un joven apasionado por la tecnología. Graduado en Sistemas Microinformáticos y Redes (SMR) y en Administración de Sistemas Informáticos en Red (ASIR), que aparte de su aprendizaje en instalaciones de microservicios y redes, también continua su formación a través de cursos y bootcamps en desarrollo fullstack."
        />
        <BioArticle
        title="Objetivo"
        parrafo="Diego Alfonso Chicoma Ibañez tiene como objetivo convertirse en un experto integral en desarrollo fullstack, capaz de liderar y gestionar proyectos complejos. Su compromiso con este campo se refleja en su dedicación a aprender continuamente nuevos lenguajes y frameworks a través de cursos y bootcamps. Alfonso busca no solo dominar las tecnologías actuales, sino también innovar y contribuir al avance del desarrollo de software, manteniéndose siempre al día con las últimas tendencias y mejores prácticas en la industria."
    />
    </section>

    <section class="main-content">
        <h1>asdfafdas</h1>
        <nav>
        </nav>
        
    </section>
</Layout>

<style>
    .main-aboutMe{
        grid-area: 1 / 1 / 1 / 1;
    }
    .main-content{
        grid-area: 1/ 2 / 1 / 3 ;
    }

    .hd-media-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }


</style>
