<footer>
    <p>Realizado con el ❤️, desarrollado con el 🧠</p>
</footer>

<style>
    p{
        color:#cedce9 ;
        font-size: 20px;
        text-align: center;
    }
    footer{
        padding:30px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
</style>